* {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

html, body {
  height: 100%;
  width: 100%;
  background-color: #ecf0f1; }

body {
  min-height: 100%; }
  body::-webkit-scrollbar {
    width: 12px;
    background: #ecf0f1; }
  body::-webkit-scrollbar-thumb {
    background: rgba(52, 152, 219, 0.4); }

#aalist li {
  float: left;
  margin: 5px;
  padding: 10px;
  border: 2px solid #b1c2c6;
  list-style-type: none;
  background-color: #ecf0f1;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }
  #aalist li:hover {
    background-color: #cfd9db; }
  #aalist li .imageContainer {
    text-align: center; }
    #aalist li .imageContainer img {
      height: 150px;
      margin: 0 auto; }

.container {
  background-color: rgba(46, 204, 113, 0.6);
  border-left: 2px solid rgba(27, 121, 67, 0.6);
  border-right: 2px solid rgba(27, 121, 67, 0.6); }

.val {
  font-weight: bold; }

#myUl {
  width: 200px;
  overflow: hidden; }
  #myUl #forms {
    width: 9999px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    #myUl #forms li {
      width: 200px;
      float: left;
      list-style-type: none; }
      #myUl #forms li input {
        width: 160px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        /*&:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }*/ }

#restart {
  display: none; }

.fa {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  padding: 5px;
  border-radius: 50%; }

.fa-close {
  border: 1px solid #e74c3c;
  color: #e74c3c; }

.fa-check {
  border: 1px solid #2ecc71;
  color: black; }

#structuresWrap {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px; }
  #structuresWrap::-webkit-scrollbar {
    width: 12px;
    background: rgba(46, 204, 113, 0.4); }
  #structuresWrap::-webkit-scrollbar-thumb {
    background: #ecf0f1; }
  #structuresWrap #structures li {
    display: inline-block;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px; }
    #structuresWrap #structures li:first-child {
      margin-left: 0; }
    #structuresWrap #structures li.last {
      margin-right: 0; }
    #structuresWrap #structures li img {
      padding: 10px;
      border: 2px solid #b1c2c6;
      -webkit-transition: all 250ms ease;
      -moz-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease; }
      #structuresWrap #structures li img.chosen {
        background-color: #cfd9db; }
      #structuresWrap #structures li img.wrong {
        border: 2px solid #e74c3c; }
      #structuresWrap #structures li img.correct {
        border: 2px solid #2ecc71; }
      #structuresWrap #structures li img:hover {
        cursor: pointer;
        background-color: #cfd9db; }
