* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  background-color: #ecf0f1; }

body {
  min-height: 100%; }
  body::-webkit-scrollbar {
    width: 12px;
    background: #ecf0f1; }
  body::-webkit-scrollbar-thumb {
    background: rgba(46, 204, 113, 0.4); }

#aalist li {
  float: left;
  margin: 5px;
  padding: 10px;
  border: 2px solid #b1c2c6;
  list-style-type: none;
  background-color: #ecf0f1;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }
  #aalist li:hover {
    background-color: #cfd9db; }
  #aalist li .imageContainer {
    text-align: center; }
    #aalist li .imageContainer img {
      height: 150px;
      margin: 0 auto; }

.container {
  background-color: rgba(46, 204, 113, 0.6);
  border-left: 2px solid rgba(27, 121, 67, 0.6);
  border-right: 2px solid rgba(27, 121, 67, 0.6); }

.val {
  font-weight: bold; }

#myUl {
  width: 200px;
  overflow: hidden; }
  #myUl #forms {
    width: 9999px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    #myUl #forms li {
      width: 200px;
      float: left;
      list-style-type: none; }
      #myUl #forms li input {
        width: 180px; }

#restart {
  display: none; }

.fa-close {
  color: #e74c3c; }
