// colours
$emerald: #2ecc71;
$clouds: #ecf0f1;
$alizarin: #e74c3c;

// dimensions
$imageHeight: 150px;

//mixins
@mixin transition($duration, $speed:ease){
  -webkit-transition: all $duration $speed;
  -moz-transition: all $duration $speed;
  -o-transition: all $duration $speed;
  transition: all $duration $speed;
}

// main styles
* {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: $clouds;
}

body {
  min-height: 100%;
  
  &::-webkit-scrollbar {
      width: 12px;
      background: $clouds;; 
  }
  &::-webkit-scrollbar-thumb {
      background: rgba($emerald,0.4); 
  }
}

#aalist li {
  float: left;
  //width: 340px;
  margin: 5px;
  padding: 10px;
  border: 2px solid darken($clouds, 20%);
  list-style-type: none;
  background-color: $clouds;
  @include transition(250ms);
  
  &:hover {
    background-color: darken($clouds, 10%);
  }
  
  .imageContainer {
    text-align: center;
  
    img {
      height: $imageHeight;
      margin: 0 auto;
    }
  }
}
.container {
  background-color: rgba($emerald,0.6);
  border-left: 2px solid darken(rgba($emerald, 0.6),20%);
  border-right: 2px solid darken(rgba($emerald, 0.6),20%);
}
.val {
  font-weight: bold;
}

#myUl {
  width: 200px;
  overflow: hidden;
  
  #forms {
    width: 9999px;
    @include transition(500ms);
    
    li {
      width: 200px;
      float: left;
      list-style-type: none;
      
      input {
        width: 180px;
      }
    }
  }
}

#restart {
  display: none;
}

.fa-close {
  color: $alizarin;
}

#structuresWrap {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  
  &::-webkit-scrollbar {
      width: 12px;
      background: rgba($emerald,0.4);; 
  }
  &::-webkit-scrollbar-thumb {
      background: $clouds; 
  }

  #structures {
    //width: auto;
    
    li {
      display:inline-block;
      //vertical-align: top;
      list-style-type: none;
      //float: left;
      margin-left: 5px;
      margin-right: 5px;
      
      &:first-child {
        margin-left: 0;
      }
      &.last {
        margin-right: 0;
      }
      
      img {
        padding: 10px;
        border:2px solid darken($clouds, 20%);
        @include transition(250ms);
        
        &.chosen {
          background-color: darken($clouds, 10%);
        }
        
        &.wrong {
          border: 2px solid $alizarin;
        }
        
        &.correct {
          border: 2px solid $emerald;
        }
        
        &:hover {
          cursor: pointer;
          background-color: darken($clouds, 10%);
        }
      }
    }
  } 
}