// colours
$emerald: #2ecc71;
$peterRiver: #3498db;
$clouds: #ecf0f1;
$alizarin: #e74c3c;
$carrot: #e67e22;
$amethyst: #9b59b6;

// functional colours
$mainBg: $emerald; 

// dimensions
$imageHeight: 150px;

//mixins
@mixin transition($duration, $speed:ease){
  -webkit-transition: all $duration $speed;
  -moz-transition: all $duration $speed;
  -o-transition: all $duration $speed;
  transition: all $duration $speed;
}

// main styles
* {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

a:hover {
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: $clouds;
}

body {
  min-height: 100%;
  
  &::-webkit-scrollbar {
      width: 12px;
      background: $clouds;; 
  }
  &::-webkit-scrollbar-thumb {
      background: rgba($peterRiver,0.4); 
  }
}

#aalist li {
  float: left;
  //width: 340px;
  margin: 5px;
  padding: 10px;
  border: 2px solid darken($clouds, 20%);
  list-style-type: none;
  background-color: $clouds;
  @include transition(250ms);
  
  &:hover {
    background-color: darken($clouds, 10%);
  }
  
  .imageContainer {
    text-align: center;
  
    img {
      height: $imageHeight;
      margin: 0 auto;
    }
  }
}
.container {
  background-color: rgba($mainBg,0.6);
  border-left: 2px solid darken(rgba($mainBg, 0.6),20%);
  border-right: 2px solid darken(rgba($mainBg, 0.6),20%);
}
.val {
  font-weight: bold;
}

#myUl {
  width: 200px;
  overflow: hidden;
  
  #forms {
    width: 9999px;
    @include transition(500ms);
    
    li {
      width: 200px;
      float: left;
      list-style-type: none;
      
      input {
        width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        
        /*&:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }*/
      }
    }
  }
}

#restart {
  display: none;
}

.fa {
  @include transition(250ms);
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
}
/*.fa-fw {
  width: 14px;
  text-align: center;
}*/
.fa-close {
  //padding-left: 6px;
  //padding-right: 7px;
  border: 1px solid $alizarin;
  text-align: center;
  color: $alizarin;
  
  &:before {
    display: block;
    width: 14px;
  }
}
.fa-check {
  border: 1px solid $emerald;
  
  color: black;
  //color: $emerald;
}

#structuresWrap {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  
  &::-webkit-scrollbar {
      width: 12px;
      background: rgba($emerald,0.4);; 
  }
  &::-webkit-scrollbar-thumb {
      background: $clouds; 
  }

  #structures {
    //width: auto;
    
    li {
      display:inline-block;
      //vertical-align: top;
      list-style-type: none;
      //float: left;
      margin-left: 5px;
      margin-right: 5px;
      
      &:first-child {
        margin-left: 0;
      }
      &.last {
        margin-right: 0;
      }
      
      img {
        padding: 10px;
        border:2px solid darken($clouds, 20%);
        @include transition(250ms);
        
        &.chosen {
          background-color: darken($clouds, 10%);
        }
        
        &.wrong {
          border: 2px solid $alizarin;
        }
        
        &.correct {
          border: 2px solid $emerald;
        }
        
        &:hover {
          cursor: pointer;
          background-color: darken($clouds, 10%);
        }
      }
    }
  } 
}