<!DOCTYPE html>
<html ng-app>
	<head>
		<title>The Amino Acids</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="js/main.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container" ng-controller="SimpleController">
			Sort by: 
			<a href=# ng-click="predicate=''">unsorted</a>
			<a href=# ng-click="predicate='name'">name</a>
			<a href=# ng-click="predicate='short'">short</a>
			<a href=# ng-click="predicate='code'">code</a> <br>
			<a href="game.htm">game</a>
			<ul id="aalist">
				<li ng-repeat="amino in aminos | orderBy:predicate">
					<div class="imageContainer">
						<img src="{{ 'svg/' + amino.name + '.svg'}}"></img>
					</div> <br>
					<span>Name: </span> <span class="val" style="text-transform: capitalize;">{{amino.name}}</span> <br>
 					<span>Short: </span> <span class="val" style="text-transform: capitalize;">{{amino.short}}</span> <br> 
 					<span>Code: </span> <span class="val">{{amino.code | uppercase}}</span> 
				</li>
			</ul>
		</div>
	</body>
</html>